/JavaNetBeansVersion/CryptoCloudS5/build/web/assets
/JavaNetBeansVersion/CryptoCloudS5/build/web/images
/JavaNetBeansVersion/CryptoCloudS5/web/images
/JavaNetBeansVersion/CryptoCloudS5/web/assets
*.jar
